

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>afterSalesService-产品追踪管理-编辑</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../static/layui/css/layui.css" media="all">
</head>
<body>

  <div class="layui-form" lay-filter="afterSalesService-form-order" id="afterSalesService-form-order" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item" style="display: none;">
      <label class="layui-form-label">产品追踪ID(内码)</label>
	      <div class="layui-input-inline">
	      <input type="text" name="materials_id" lay-verify="required" placeholder="隐藏不见" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">代码</label>
      <div class="layui-input-inline">
        <input type="text" name="fNumber" lay-verify="required" placeholder="请输入代码" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">品牌</label>
      <div class="layui-input-inline">
        <input type="text" name="fBrand" lay-verify="required" placeholder="请输入品牌" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">产品追踪名称</label>
      <div class="layui-input-inline">
        <input type="text" name="fName" lay-verify="required" placeholder="请输入产品追踪名称" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">型号</label>
      <div class="layui-input-inline">
        <input type="text" name="fModel" lay-verify="required" placeholder="请输入型号" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">规格</label>
      <div class="layui-input-inline">
        <input type="text" name="fAlias" lay-verify="required" placeholder="请输入规格" autocomplete="off" class="layui-input">
      </div>
    </div>
     <div class="layui-form-item">
      <label class="layui-form-label">颜色</label>
      <div class="layui-input-inline">
        <input type="text" name="fChartNumber" lay-verify="required" placeholder="请输入颜色" autocomplete="off" class="layui-input">
      </div>
    </div>
     <div class="layui-form-item">
      <label class="layui-form-label">商品条码</label>
      <div class="layui-input-inline">
        <input type="text" name="fHelpCode" lay-verify="required" placeholder="请输入商品条码" autocomplete="off" class="layui-input">
      </div>
    </div>
     <div class="layui-form-item">
      <label class="layui-form-label">产地</label>
      <div class="layui-input-inline">
        <input type="text" name="fEquipmentNum" lay-verify="required" placeholder="请输入产地" autocomplete="off" class="layui-input">
      </div>
    </div>
     <div class="layui-form-item">
      <label class="layui-form-label">销售单价</label>
      <div class="layui-input-inline">
        <input type="text" name="fSalePrice" lay-verify="required" placeholder="请输入销售单价" autocomplete="off" class="layui-input">
      </div>
    </div>
     <div class="layui-form-item">
      <label class="layui-form-label">产品追踪类别</label>
      <div class="layui-input-inline">
        <input type="text" name="fType" lay-verify="required" placeholder="请输入产品追踪类别" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="LAY-app-workorder-submit" id="LAY-app-workorder-submit" value="确认">
    </div>
  </div>

  <script src="../../../static/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../../static/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form'], function(){
    var $ = layui.$
    ,form = layui.form;
    
  })
  </script>
</body>
</html>